* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
    background-color: red;
}

/* NAVBAR */
nav {
    background: #2874f0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* BANNER */
.banner {
    background: #ddd;
    padding: 60px;
    text-align: center;
    font-size: 28px;
}

/* PRODUCT SECTION */
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
    justify-content: center;
}

/* PRODUCT CARD */
.card {
    background: white;
    width: 220px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.card img {
    width: 100%;
    height: 200px;
}

.discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background: red;
    color: white;
}
